.w-full.justify-center.bg-gray-900.text-gray-50
    .contener.justify-center(class="md:flex justify-around pt-4")
        ul(class="mx-8 flex-full w-full mb-4 md:list-disc") 
            li Soporte 
            li Acerca de nosotros 
            li Login 
            li Aviso de Privacidad
        ul(class="mx-8 flex-full w-full")  
            li 
                i.icon-facebook2  /facebook
            li 
                i.icon-twitter  @twitter 
            li
                i.icon-instagram  @instagram
    p.my-4.text-center ChimpaVape &copy;2021 By #[a(href="http://www.galaxiaideas.com" target="_blank" title="GalaxiaIdeas Website").text-purple-500 GalaxiaIdeas]
