* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15pt;
  width: 100%;
  background-color: #efefef;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
header {
  background-color: #121212;
  width: 100%;
  display: grid;
  margin: 0 auto;
  color: #fff;
  grid-template-columns: 200px auto;
}
header h1 {
  width: 200px;
  background-color: purple;
  padding: 5px;
  text-align: center;
}
.menu {
  display: flex;
  background-color: #ccc;
}
.menu__menu {
  display: grid;
  list-style-type: none;
  width: 100%;
  grid-template-columns: repeat(4, auto);
  align-content: center;
  align-items: center;
}
.menu__menu li {
  color: #fff;
  margin: 5px;
  padding: 5px;
  background-color: #00ccff;
  text-decoration: none;
  max-width: 250px;
  text-align: center;
}

.menu__menu_categorias ul {
  display: none;
}

main {
  width: 100%;
  max-width: 1200px;
}
.slider {
  max-width: 1500px;
  height: 300px;
  overflow: hidden;
}
.slider ul {
  width: 100%;
}
footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
