/* Color Theme Swatches in Hex */
$Stack-Jump---hyper-casual-game-0-hex: #212121;
$Stack-Jump---hyper-casual-game-1-hex: #010440;
$Stack-Jump---hyper-casual-game-2-hex: #44aff2;
$Stack-Jump---hyper-casual-game-3-hex: #7eddf2;
$Stack-Jump---hyper-casual-game-4-hex: #f2e205;
$Stack-Jump---hyper-casual-game-5-hex: #f27405;
$blanco: #f1f1f1;

/* Color Theme Swatches in RGBA */
$Stack-Jump---hyper-casual-game-1-rgba: rgba(1, 4, 64, 1);
$Stack-Jump---hyper-casual-game-2-rgba: rgba(68, 175, 242, 1);
$Stack-Jump---hyper-casual-game-3-rgba: rgba(126, 221, 242, 1);
$Stack-Jump---hyper-casual-game-4-rgba: rgba(242, 226, 5, 1);
$Stack-Jump---hyper-casual-game-5-rgba: rgba(242, 116, 5, 1);

/* Color Theme Swatches in HSLA */
$Stack-Jump---hyper-casual-game-1-hsla: hsla(237, 96, 12, 1);
$Stack-Jump---hyper-casual-game-2-hsla: hsla(203, 86, 60, 1);
$Stack-Jump---hyper-casual-game-3-hsla: hsla(190, 81, 72, 1);
$Stack-Jump---hyper-casual-game-4-hsla: hsla(55, 95, 48, 1);
$Stack-Jump---hyper-casual-game-5-hsla: hsla(28, 95, 48, 1);
