-//Variables para metadatos de la págiana actual
-var meta_titlePage ="";
-var meta_canonica = "";
-var meta_descPage = "";
-var meta_keyWordsPage = "";
-var meta_ogImage = "";
-var titulo_website = ["Vape Shop", "Juegos Inflables", "Fox Suites", "Ok Puppets"]


<!DOCTYPE html>
html(lang="es")
    head
        include inc/head.pug
  
body
    header.bg-yellow-500.text-white
        .container-fluid
            .container-xxl
                .row
                    .col-12.col-sm-3
                        h1 ChimpaVape 😃
                    .col-12.col-sm-6
                        form.d-flex
                        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                        button.btn.btn-outline-success(type='submit') Search
                    .col-12.col-sm-3
                        | iconos
    
        .container-fluid.contener_nav
            .container-xxl
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                    .container-fluid
                        #navbarNavDropdown.collapse.navbar-collapse
                            ul.navbar-nav
                                li.nav-item.dropdown
                                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Categorias
                                    ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                        li
                                            a.dropdown-item(href='#') Action
                                        li
                                            a.dropdown-item(href='#') Another action
                                        li
                                            a.dropdown-item(href='#') Something else here
                                li.nav-item
                                    a.nav-link.active(aria-current='page' href='#') Home
                                li.nav-item
                                    a.nav-link(href='#') Features
                                li.nav-item
                                    a.nav-link(href='#') Pricing
    .container-xxl
        .row
          .cols-12
            #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
              .carousel-indicators
                button.active(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Slide 2')
                button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='2' aria-label='Slide 3')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='./images/banners/banner01.jpg' alt='...')
                  .carousel-caption.d-none.d-md-block
                    h5 First slide label
                    p Some representative placeholder content for the first slide.
                .carousel-item
                  img.d-block.w-100(src='./images/banners/banner02.jpg' alt='...')
                  .carousel-caption.d-none.d-md-block
                    h5 Second slide label
                    p Some representative placeholder content for the second slide.
                .carousel-item
                  img.d-block.w-100(src='./images/banners/banner03.jpg' alt='...')
                  .carousel-caption.d-none.d-md-block
                    h5 Third slide label
                    p Some representative placeholder content for the third slide.
                .carousel-item
                  img.d-block.w-100(src='./images/banners/banner04.jpg' alt='...')
                  .carousel-caption.d-none.d-md-block
                    h5 Third slide label
                    p Some representative placeholder content for the third slide.
              button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
              button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
    main.container
      .row
        article.col-12.col-lg-3
          .card(style='width: 18rem;')
            img.card-img-top(src='./images/wireframe/descarga.png' alt='...')
            .card-body
              h5.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary(href='#') Go somewhere
        article.container.col-12.col-lg-3
          .card(style='width: 18rem;')
            img.card-img-top(src='./images/wireframe/descarga.png' alt='...')
            .card-body
              h5.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary(href='#') Go somewhere
        article.container.col-12.col-lg-3
          .card(style='width: 18rem;')
            img.card-img-top(src='./images/wireframe/descarga.png' alt='...')
            .card-body
              h5.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary(href='#') Go somewhere
        article.container.col-12.col-lg-3
          .card(style='width: 18rem;')
            img.card-img-top(src='./images/wireframe/descarga.png' alt='...')
            .card-body
              h5.card-title Card title
              p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card's content.
              a.btn.btn-primary(href='#') Go somewhere
